// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

$black: #24292e;

// Make sure the bootstrap-sass and lato fonts are resolved correctly
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "menu";
@import "prism";

/* ---------------------------------------------------- */

body {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

a, a:hover, a:focus, button, button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/*==========================
        20.RESPONSIVE
============================*/

#company_logos img {
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
}

h3 {
    font-size: 1.4rem;
    line-height: 1.7em;
}

/* inspired by backers from https://nette.org/ */
#company_logos {
    img {
        filter: grayscale(100%);
        opacity: .70;
    }
}

// sticky footer: see https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3
html, body {
    height: 100%;
}

body {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#footer {
    padding: 1.8em 0;

    background-color: $black;
    color: #FFF;
    font-size: 1.3em;

    a {
        color: #21c87a;

        &:hover {
            color: #20a55b;
        }
    }
}

h1 {
    font-size: 2.7em;
    line-height: 1.4em;
    font-weight: 300;
    padding-bottom: .5em;

    @include media-breakpoint-down(md) {
        font-size: 2.5em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2em;
    }

    &.main-title {
        margin-top: 2em;
        font-size: 3.9rem;
        line-height: 1.3em;
        font-weight: 800;

        @include media-breakpoint-down(md) {
            font-size: 3em;
        }

        @include media-breakpoint-down(sm) {
            font-size: 2.5em;
        }

        @include media-breakpoint-down(xs) {
            font-size: 2.2em;
        }
    }
}

h2 {
    font-size: 1.9em;

    @include media-breakpoint-down(md) {
        font-size: 1.6em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.3em;
    }
}

.container {
    max-width: 55em;
}

ul.list-noindent {
    margin-left: 1.2em;
    padding-left: 0;

    li {
        line-height: 1.7em;
    }
}

.reference-text {
    font-size: 1.3em;
}

/*!* not sure why, but em in footer are bigger; this is to make the width the same size as rest *!*/
#footer .container {
    font-size: .8em;
}

.bg-black {
    background-color: #333;
}

.text-bigger {
    font-size: 1.4em;

    strong {
        font-size: 1em;
    }

    @include media-breakpoint-down(md) {
        font-size: 1.3em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.2em;
    }
}

.text-semi-bigger {
    font-size: 1.15em;

    strong {
        font-size: 1em;
    }

    @include media-breakpoint-down(md) {
        font-size: 1.1em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.5em;
    }
}


.img-face {
    max-width: 10em;
    margin: .1em auto 2.8em auto;
}

.perex {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    padding: .7em 0;
}

#homepage {
    margin-bottom: 8em;
    clear: both;

    h2 {
        margin: 2em 0;
        text-align: center;
        font-size: 2.2em;

        font-weight: 500 !important;

        @include media-breakpoint-down(md) {
            font-size: 2em;
        }

        @include media-breakpoint-down(sm) {
            font-size: 1.8em;
        }
    }

    h3 {
        margin-top: 1.5em;
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: 200;
        line-height: 1.4em;
    }
}

.img-face-smaller-right {
    float: right;
    max-width: 5em;
    margin: .1em auto 2.8em auto;
}

.img-face-smaller-left {
    float: left;
    max-width: 5em;
    margin: .1em auto 2.8em auto;
}

.blockquote {
    font-size: 1.4em;
    margin-bottom: 1em;

    @include media-breakpoint-down(md) {
        font-size: 1.3em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.2em;
    }
}

.demo_form_code {
    width: 100%;
}

#rector_run_form {
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
        font-size: .8em;
    }

    .card-header {
        font-size: 1.1em;
    }

    .card .form-group {
        margin-bottom: 0;
    }
}

.text-bold {
    font-weight: bold;
}

.cm-negative {
    background: #ffd4d4;
    display: inline-block;
}

.cm-positive {
    background: #e8ffd4;
    display: inline-block;
}

.invalid-feedback {
    margin-bottom: 1em;

    .d-block + .d-block {
        margin-top: 5px;
    }
}

h2 a, a {
    color: #21c87a;

    &:hover {
        color: #20a55b;
    }
}

#post, #blog, #contact, #mission {
    margin-top: 2em;
    margin-bottom: 6em;

    h1 {
        margin-top: 2.5em;
        margin-bottom: 2.2em;
        font-weight: 500 !important;
        color: #24292e;
    }

    h2 {
        margin-top: 1em;
        margin-bottom: .6em;
    }

    h3 {
        margin-top: 1.2em;
    }

    .text-body {
        font-size: 1.1em;
    }
}

.navbar-dark .navbar-nav {
    text-align: center;

    a.nav-link {
        color: #DDD;
        margin: 0;
        padding: .5em 1em;

        &:hover {
            color: #FFF;
        }
    }

    .active {
        a.nav-link, a.nav-link:active {
            color: #FFF;
        }
    }
}

.mono-font {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: .9em;
}

.text-smaller {
    font-size: .9em;
}

.text-grey {
    color: #959da5;
}

.text-light-50 {
    color: #efefef;
}

ol {
    padding-left: 1em;

    li {
        margin-top: 1.2em;
    }
}

// forms
label.required:before {
    content: "* ";
    color: #dc3545;
}

.img-thumbnail {
    margin-bottom: .5em;
}

#top_right_logo {
    float: right;

    margin-top: -.1em;

    img {
        max-height: 2.4em;
    }
}

// from the logo window - http://getrector.org/assets/images/logo/rector-white.svg
.text-rector-blue {
    color: #75d5eb;
}

.text-rector-green {
    color: #74c079;
}

.text-rector-red {
    color: #994343;
    // or #9d2e2e
}

.pull-right {
    float: right;
}

// full height background for removed and added lines
.token.deleted, .token.added {
    display: inline-block;
}

/* show/hidden menu; ref https://stackoverflow.com/a/35362821/1348344 */
@media (min-width: 640px) {
    .hidden-md-up {
        display: none !important;
    }
}

@media (max-width: 639px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (max-width: 639px) {
    .mobile-fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;

    }

    .mobile-margin-top {
        margin-top: 8.3em;
    }

    .nav-item {
        padding-top: .5em;
        padding-bottom: .5em;
    }
}

#contribution_box {
    background-color: #fff7c4;
    width: 12em;

    .card-body {
        padding: .7em 1em;
    }
}

#references {
    .company-logo {
        float: right;
        max-width: 10em;
        margin-right: 1em;
        margin-top: .4em;
    }

    .company-description {
        font-style: italic;
        color: #555;
    }

    .company-quote {
        font-size: 1.2em;
    }

    .company-quote-card {
        margin: 1.5em 3em 0 3em;
        padding-bottom: 0;
    }

    .company-quote-card-body {
        padding: 1.5em 1em 0 2em;
    }
}

.second-claim-title {
    font-size: 3.5em;
    font-weight: 300;
    margin-top: 0;
}
