{% extends "base.twig" %}

{% block main %}
    <div id="homepage">
        <h1 class="main-title">
            We'll Speed up
            your&nbsp;Development
            <br>
            by 300 %
        </h1>

        <p class="mt-5">
            <a href="#how" class="text-bigger">That's a bold claim... How exactly?</a>
        </p>

        {% include "_snippets/homepage_separator.twig" %}

        <h2>Our Mission? Remove Legacy</h2>

        <div class="blockquote">
            We're here to help every company and developer on the planet to get rid of any legacy PHP. Remove maintenance, cut costs of features to fractions and shift focus back to <strong>feature delivery and sustainable code that is joy to read</strong>.
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <h2><span class="text-rector-blue">Join Companies</span> with&nbsp;Rectified&nbsp;Code</h2>

        <div id="company_logos">
            <img src="{{ asset('assets/images/homepage/company_lines.png') }}" alt="">
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <h2><span class="text-rector-blue">Learn</span> from Our Experience</h2>

        {% for post in last_3_posts %}
            <div class="mb-5">
                {# @var post \Rector\Website\Blog\ValueObject\Post  #}
                <p class="text-bigger">
                    <a href="{{ path('post', {'postSlug': post.slug }) }}">{{ post.title }}</a>
                </p>
                <time datetime="{{ post.dateTime|date('Y-m-D') }}" class="mono-font text-grey">
                    {{ post.dateTime|date }}
                </time>
            </div>
        {% endfor %}

        {% include "_snippets/homepage_separator.twig" %}

        <div id="how"></div>
        <h2>How will Rector <span class="text-rector-blue">make&nbsp;your&nbsp;Life&nbsp;Easier</span>?</h2>

        <div class="row text-center">
            <div class="col-6 col-md-4 mb-5">
                <em class="fas fa-brain fa-3x text-rector-blue"></em>
                <h3>Smarter Code</h3>
            </div>

            <div class="col-6 col-md-4 mb-5">
                <em class="fas fa-piggy-bank fa-3x text-rector-green"></em>
                <h3>Cheaper Features</h3>
            </div>

            <div class="col-6 col-md-4 mb-5">
                <em class="fas fa-users fa-3x text-rector-blue"></em>
                <h3>Faster Onboarding</h3>
            </div>

            <div class="col-6 col-md-4 mb-5">
                <em class="fas fa-smile-beam fa-3x text-rector-green"></em>
                <h3>
                    Happier<br>
                    Developers
                </h3>
            </div>

            <div class="col-6 col-md-4 mb-5">
                <em class="fas fa-sync-alt fa-3x text-rector-blue fa-spin"></em>
                <h3>Continuous Upgrades</h3>
            </div>

            <div class="col-6 col-md-4 mb-5">
                <em class="fas fa-robot fa-3x text-rector-red"></em>
                <h3>Automated Code Reviews</h3>
            </div>
        </div>

        <br>
        <br>

        <div class="text-center">
            <a href="{{ path('contact') }}" class="btn btn-success btn-lg m-auto">
                Take a leap to Ultra Project
            </a>
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <h2>
            What do you <span class="text-rector-blue">Love&nbsp;about&nbsp;Rector</span>?
        </h2>

       <blockquote class="blockquote clearfix mb-5 mb-md-0">
           <img src="https://pbs.twimg.com/profile_images/867439780728107016/GWANUhbt_400x400.jpg" class="rounded-circle img-face-smaller-right shadow-sm" alt="">

            <p>
                "Since last week, I <strong>automated several months of mindless work</strong>.<br>
                Rector is one of my best friends in the fight against legacy."
            </p>

            <footer class="blockquote-footer">
                <a href="https://twitter.com/afilina/status/1229406983486394369">Anna Filina</a>, Legacy Archeologist
            </footer>
        </blockquote>

        <blockquote class="blockquote clearfix">
            <img src="https://pbs.twimg.com/profile_images/819586686149677056/DOMf3P79_400x400.jpg" class="rounded-circle img-face-smaller-left shadow-sm mr-5" alt="">

            <p>
                "Just upgraded <strong>PHPUnit 4 to 8</strong> with Rector in <strong>3 seconds</strong>."
            </p>
            <footer class="blockquote-footer">
                <a href="https://twitter.com/ArkadiuszKondas/status/1196349896690950144">Arkadiusz Kondas</a>,
                Software Architect and Ultrarunner
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <img src="https://pbs.twimg.com/profile_images/937401535109238784/LUP1_bQf_400x400.jpg" class="rounded-circle img-face-smaller-right shadow-sm ml-3" alt="">

            <p>
                "Rector is one of <strong>the most useful projects</strong> PHP developers overlook.<br>
                It upgrades your Symfony 3 app to Symfony 4."
            </p>

            <footer class="blockquote-footer">
                <a href="https://twitter.com/symfony_en/status/1076024294591877120">Symfony News</a>
            </footer>
        </blockquote>
    </div>
{% endblock %}
